// Base styles

* {
  border-radius: 0 !important;
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: 'Merriweather', serif;
}

input,
textarea {
  background-color: $background-color !important;
  color: $font-color;
  opacity: 1;
}

label {
  font-size: 1.5rem;
  color: $font-color;
}

body {
  background: url(../../assets/img/content/bg.png) no-repeat fixed;
  background-size: 100% 100%;
  min-height: 100vh;
}

@media screen and (min-width: 895px) {

  .container {
    max-width: 95%;
  }
}

.sk-spinner > div {
  background-color: $font-color !important;
}
