// Data table styles

@import '../../../../node_modules/react-bootstrap-table2-toolkit/dist/react-bootstrap-table2-toolkit.min.css';
@import '../../../../node_modules/react-bootstrap-table-next/dist/react-bootstrap-table2.min.css';
@import '../../../../node_modules/react-bootstrap-table2-paginator/dist/react-bootstrap-table2-paginator.min.css';
@import '../../../assets/scss/variables';

// Custom styles

.page-link,
.dropdown-toggle {
  background-color: $background-color !important;
  border: 1px $border-color solid !important;
}

.dropdown-toggle,
.dropdown-item a,
.page-link {
  color: $font-color !important;
}

.dropdown-menu {
  min-width: 4.5rem;
}

th {

  .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9
  ;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    color: #000 !important;
  }

  .dropup, .dropdown {
    position: relative;
  }

  .dropup .caret, .navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
    content: "";
  }
}

.sc-bxivhb {
  margin-top: 60px;
}

th, td {
  text-align: center;
}

.pokemon-link {
  color: #000 !important;
}

// Styles for responsive layout, taken from: https://css-tricks.com/responsive-data-tables/

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {

  table, thead, tbody, th, td, tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    margin: 0 0 1rem 0;
  }

  tr:nth-child(odd) {
    background: #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    top: -15px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  td:nth-of-type(1):before {
    content: "Sprite:";
  }
  td:nth-of-type(2):before {
    content: "Name:";
  }
  td:nth-of-type(3):before {
    content: "Pokedex No:";
  }
  td:nth-of-type(4):before {
    content: "Location:";
  }
}

@media screen and (max-width: 520px) {
  
  .pagination {
    margin-top: 15px;
  }
}
