// helpers
@import '../../assets/scss/variables';

// Header styles

footer {
    background-color: $background-color;
}

.navbar {

  &__small-text {
    font-size: 1rem;
    color: $font-color;
  }

  &__trainer {
    width: 10%;
  }
}

// Media query for footer responsiveness 

@media screen and (max-width: 1000px) {
  .navbar {

    &__link {
      font-size: 1rem;
    }
  }
}